
/* body {
    background: url('../images/friends_back.jpg');
} */

.logo {
    width: 500px;
    height: 75px;
}

.container {
    text-align: center;
    background-color: #777;
    border: 8px solid black;
    width: 650px;
    height: 450px;
    border-radius: 25px;
    
}

#time {
    color:white;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;


}

h3 {
    color: pink;
}

.parent {
    font-size: 20px;
    color: white;
    cursor: pointer; 
}

li:hover {
    font-weight: bold;
    border: 2px solid black;
    background: white;
    color: blue;
    list-style-type: none;
}

.clickable {
    list-style-type: none;

}

p, #timeLeft, #instructions {
    margin: 45px;
    font-size: 20px;
    color: white;
}

#start {
    padding: 20px;
    font-size: 20px;
    color: white;

}

img {
    width: 500px;
    height: 275px;
}

.wrongImage {
    width: 250px;
    height: 250px;
}

.ross {
    width: 250px;
    height: 500px;
    margin-left: 0;
    border-radius: 25px;
}


