
/* body {
    background: url('../images/friends_back.jpg');
} */

.logo {
    width: 550px;
    height: 75px;
}

.container {
    text-align: center;
    background-color: #D3D3D3;
    border: 8px solid #abdcfb;
    width: 700px;
    height: 550px;
    border-radius: 25px;

    
}


.ross {
    width: 250px;
    height: 500px;
    border-radius: 25px;
    margin-left: 100px;
}


#time {
    color: grey;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;


}

h3 {
    font-size: 30px;
    color: blue;
}

.parent {
    font-size: 20px;
    color: black;
    cursor: pointer; 
}

li:hover {
    font-weight: bold;
    border: 2px solid black;
    background: white;
    color: pink;
    list-style-type: none;
}

.clickable {
    list-style-type: none;

}

p, #timeLeft, #instructions {
    margin: 45px;
    font-size: 25px;
    color: black;
}

#start {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 50px;
    color: white;
}

#reset {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 50px;
    background-color: #00cc66;
    color: white;

}

img {
    width: 450px;
    height: 250px;
}

.wrongImage {
    width: 200px;
    height: 200px;
}


